/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/****************************************/
/* HubSpot Style Boilerplate            */
/****************************************/

/* These includes are optional, but helpful. */
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}


/*****************************************/
/* Start your style declarations here    */
/*****************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin         : 0;
    padding        : 0;
    border         : 0;
    font-size      : 100%;
    font           : inherit;
    vertical-align : baseline;
    box-sizing     : border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display : block;
}
body {
    line-height : 1;
}
ol, ul {
    list-style : none;
}
blockquote, q {
    quotes : none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content : '';
    content : none;
}
table {
    border-collapse : collapse;
    border-spacing  : 0;
}
img {
    max-width : 100%;
    height    : auto;
}

/*------------------- Layout and Global -------------------*/
html, body {
    font-family : 'Open Sans', sans-serif;
    background  : url('./images/bg-mobile-pattern.png') repeat-y top center;
}
/* Clearfix  */
.cf:after {
  content : "";
  display : table;
  clear   : both;
}
/* Hide Visually */
.hv {
    padding     : 0;
    position    : absolute;
    border      :  0;
    clip        : rect(1px, 1px, 1px, 1px);
    clip-path   : circle(1% at 1% 1%);
    height      : 1px;
    overflow    : hidden;
    white-space : nowrap;
    width       : 1px;
}
.innerContainer {
    padding   : 0 20px;
    margin    : 0 auto;
    width     : 100%;
    max-width : 1170px;
    height    : 100%;
}

.innerContainerFull {
    padding   : 0;
    margin    : 0 auto;
    width     : 100%;
    max-width : 1170px;
    height    : 100%;
}

/*------------------- Typography -------------------*/
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
*/
h1, h2, h3, h4, h5, h6 {
    font-family : 'Titillium Web', sans-serif;
    font-weight : 400;
}
h1 {
    font-size     : 44px;
    line-height   : 50px;
    color         : #2E4856;
    margin-bottom : 24px;
}
h2 {
    font-size     : 24px;
    line-height   : 32px;
    font-family   : 'Titillium Web';
    color         : #2E4856;
    margin-bottom : 24px;
}
h4 {
    font-size     : 20px;
    line-height   : 26px;
    color         : #ffffff;
    margin-bottom : 33px;
}
p {
    font-size     : 18px;
    line-height   : 32px;
    color         : #535353;
    margin-bottom : 24px;
}
p.bodyLarge {
    font-size   : 24px;
    font-family : 'Titillium Web';
    color       : #2E4856;
}

ul {
    padding-left : 51px;
}

ul li {
    position      : relative;
    margin-bottom : 16px;
    font-size     : 18px;
    line-height   : 36px;
    color         : #535353;
}

ul li::before {
    position : absolute;
    top      : 0;
    left     : -27px;
    content  : url('https://cdn2.hubspot.net/hubfs/2686735/Landing%20Page%2011-17/bullet.svg');
    height   : 8px;
    width    : 3px;
}

/*------------------- Form -------------------*/
label {
    font-size      : 14px;
    font-weight    : 700;
    font-family    : 'Titillium Web';
    line-height    : 24px;
    text-transform : uppercase;
    display        : block;
    color          : #ffffff;
    margin-bottom  : 2px;
}
input {
    width         : 100%;
    height        : 44px;
    border-radius : 2px;
    font-size     : 18px;
    line-height   : 36px;
    font-weight   : 400;
    color         : #535353;
    border        : none;
    padding       : 4px 16px;
    margin-bottom : 16px;
}

.hs-form-field input[type="checkbox"] {
    padding            : 0;
    margin             : 14px 16px 16px 0;
    display            : inline-block;
    width              : 24px;
    height             : 24px;
    vertical-align     : top;
    -webkit-appearance : none;
    appearance         : none;
    background         : #ffffff;
    border             : 1px solid #dcdcdc;

}

.hs-form-field ul.inputs-list {
    padding : 0;
}
.hs-form-field ul.inputs-list li.hs-form-booleancheckbox {
    margin-bottom : 0;
}
.hs-form-field ul.inputs-list li.hs-form-booleancheckbox:before {
    display : none;
}

.hs-form-field input[type="checkbox"]:checked {
    background : #ffffff url('https://cdn2.hubspot.net/hubfs/2686735/Landing%20Page%2011-17/check.svg') no-repeat center;
}

.hs-form-field input[type="checkbox"]:focus {
    outline    : 0 none;
    box-shadow : none;
}

.hs-form-field input[type="checkbox"] ~ span {
    display        : inline-block;
    font-size      : 14px;
    line-height    : 50px;
    font-family    : "Open Sans", sans-serif;
    font-weight    : 400;
    text-transform : none;
}

input[type="submit"] {
    margin              : 14px 0 0;
    padding             : 0.9375rem 2.5rem;
    display             : inline-block;
    vertical-align      : middle;
    white-space         : nowrap;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    cursor              : pointer;
    font-size           : 1.125rem;
    font-weight         : normal;
    color               : white;
    border              : 1px solid #e47130;
    background-color    : #e47130;
    border-radius       : 0;
    background-image    : linear-gradient(-44deg, #e47130 50%, #d56430 50%);
    background-size     : 200% 100%;
    background-repeat   : no-repeat;
    background-position : top right;
    font-family         : "Titillium Web", sans-serif;
    font-weight         : 700;
    text-transform      : uppercase;
    line-height         : 1.125rem;
    border              : none;
    -webkit-transition  : all ease-out 0.3s;
    transition          : all ease-out 0.3s;
}

input[type="submit"]:hover {
    background-position : top left;
    background-image    : linear-gradient(-44deg, #e47130 42%, #d56430 42%);
}

/*------------------- Header -------------------*/
header {
    padding    : 24px 0;
    height     : 72px;
    text-align : center;
}
header img {
    margin  : 0 auto;
    display : block;
    width   : 135px;
}
/*------------------- Body -------------------*/
article {
    padding : 0 20px 34px;
}
article img {
    margin-bottom : 31px;
}

aside {
    padding               : 90px 20px 35px 20px;
    background            : url('https://cdn2.hubspot.net/hubfs/2686735/Landing%20Page%2011-17/bg.png') no-repeat top center;
    background-position-x : -15px;
    width                 : 100%;
    max-width             : 500px;
}

/*------------------- Footer -------------------*/

footer {
    padding    : 44px 0;
    background : #2E4856;
    text-align : center;
}

footer p, footer a {
    font-size       : 15px;
    line-height     : 24px;
    color           : #ffffff;
    margin-bottom   : 26px;
    text-decoration : none;
}

footer p:last-of-type {
    margin-bottom : 0;
}


@media only screen and (min-width: 450px) {
    /*------------------- Body -------------------*/
    aside {
        margin                : 0 auto;
        padding               : 90px 75px 35px 35px;
        background-position-x : 0px;
        width                 : 100%;
        max-width             : 500px;
    }
    aside form {
        margin    : 0;
        max-width : 390px;
    }
} /* end media(min-width: 450px) */

@media only screen and (min-width: 600px) {
    /*------------------- Body -------------------*/
    article {
        max-width : 770px;
    }
    aside {
        margin          : 0 auto 45px;
        background-size : contain;
    }
    aside form {
        margin-bottom : 30px;
    }
} /* end media(min-width: 600px) */

@media only screen and (min-width: 1024px) {
    /*------------------- Layout and Global -------------------*/
    html, body {
        background      : url('https://cdn2.hubspot.net/hubfs/2686735/Landing%20Page%2011-17/desktop-bg-pattern-light@2x.png') repeat top center;
        background-size : contain;
    }
    /*------------------- Header -------------------*/
    header {
        padding : 32px 0;
        height  : 96px;
    }
    header img {
        width : 180px;
    }
    /*------------------- Body -------------------*/
    main {
        padding : 40px 0 85px;
    }
    article {
        float        : left;
        width        : calc(92% - 500px);
        margin-right : 8%;
    }
    aside {
        float : left;
    }
    aside form {
        margin-bottom : 30px;
    }
    /*------------------- Footer -------------------*/

    footer {
        padding    : 31px 0;
        background : #2E4856;
        text-align : center;
    }

    footer p, footer a {
        font-size     : 12px;
        line-height   : 18px;
        margin-bottom : 0px;
        display       : inline-block;
    }
    footer p {
        border-right  : 1px solid rgba(255, 255, 255, 0.2);
        margin        : 0 23px 0 0;
        padding-right :  23px;
    }

    footer p:last-of-type {
        margin-right  : 0;
        padding-right : 0;
        border        : none;
    }
} /* end media(min-width: 1024px) */

@media only screen and (min-width: 1200px) {
    /*------------------- Body -------------------*/
    article {
        padding : 0;
    }
}
